    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Tyler</h2>
                <p>Dedicated full-stack developer with a strong drive to learn and grow. Passionate about modern best practices and delivering great work, design, and development. Extensive experience with web application frameworks to combine solid back-end/database logic with enjoyable front end.</p>
                <p>Interested in joining a collaborative, forward thinking team that loves to develop!</p>
                <p>Experience using Ruby, Rails, Sinatra , JavaScript, jQuery, Node.js, and CSS3/HTML5.</p>
                <p>Contact me and Lets Start Building things together!</p>
            </div>
        </div>
    </section>
