    <!-- Portfolio Section Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Portfolio</h2>
                    <p>Click to visit some of my projects.</p>
                    <a href="http://gettoknowyourneighbors.herokuapp.com/" class="btn btn-default btn-lg">Visit Get to Know Your Neighbors</a>
                    <a href= "https://warm-woodland-4562.herokuapp.com/" class="btn btn-default btn-lg">Visit BeerMe</a>
                    <a href="#" id="moreComingSoon" class="btn btn-default btn-lg">More Coming Soon!</a>
                </div>
            </div>
        </div>
    </section>
